@include small{
    .header{
        max-width: 21rem;

        .light{
            font-size: .90em;
        }

        .bold{
            font-size: .90em
        }

        p{
            font-size: 1.1em;
        }
    }

    .main{
        width: 19.75rem
    }
};

@include large{
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 31rem;


        h1{
            text-align: center;
            font-size: 2.5rem;

            .light{
                font-size: 2.3rem;
            }
        }

        p{
            font-size: 1.1em;
        }
    }

    .main{
        grid-template-columns: repeat(3, 1fr);
        align-items: center;

        .card{
            max-height: 14.3rem;
            width: 20.5rem;

            p{
                font-size: .9rem;
            }
        }

        .supervisor{
            grid-row: 1/3
        }

        .calculator{
            grid-column: 3;
            grid-row: 1/3
        }
    }
};